  # See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

  # dependencies
  /node_modules
  /.pnp
  .pnp.js

  # testing
  /coverage

  # production
  /build

  # misc
  .DS_Store
  .env.local
  .env.development.local
  .env.test.local
  .env.production.local

  npm-debug.log*
  yarn-debug.log*
  yarn-error.log*
node_modules
build/asset-manifest.json
build/index.html
build/static/css/main.c2cab247.css
build/static/css/main.c2cab247.css.map
build/static/js/main.74820222.js
build/static/js/main.74820222.js.LICENSE.txt
build/static/js/main.74820222.js.map
